<div class='post-holder'>
{{ if .Params.class }}
<article class="{{ .Params.class }}">
{{ else }}
<article class="post">
{{ end }}

    <h1>
      {{ if .Params.info }}
      <span class="info-mark"></span>
      {{ else }}
      <span class="post-number">{{ .Weight }}</span>
      {{ end }}
      <span class="post-title">{{ .Title }}</span>
    </h1>

    <section class="post-content">
    {{ .Content }}
    </section>

    {{ if .Site.Author }}
        <section class="author">
            <h4>{{ .Site.Author.name}}</h4>
            <p>{{ .Site.Author.bio }}</p>
        </section>
    {{ end }}

    </footer>
</article>
</div>
