{{ partial "header.html" . }}
<body class="home-template">

    <!-- The big featured header on the homepage, with the site logo and description -->
    <header id="site-head" {{ if .Site.Params.cover }}style="background-image: url({{ .Site.Params.cover }})"{{ end }}>
        <div class="vertical">
            <div id="site-head-content" class="inner">

                {{ if .Site.Params.logo }}
                <img id="pcap4j-logo" src="{{ .Site.Params.logo }}" alt="Logo" />
                {{ end }}
                {{ if .Site.Params.description }}<h2 class="description">{{ .Site.Params.description }}</h2> {{ else  }}
                <h2 class="description">Power puff girls</h2>
                {{ end }}

                <a class='btn' href="https://github.com/kaitoy/pcap4j#download">Downloads</a>
            </div>
        </div>

    </header>

    <main class="content" role="main">

    </div>
        {{ range .Data.Pages.ByWeight }}
                {{ if eq .Type  "post" }}
                    {{ .Render "post"}}
                {{ end }}
        {{ end }}

</main>
    {{ partial "footer.html" .}}

    {{ partial "script.html" .}}


</body>
</html>
